* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-width: 0px;
}

#previewcontainer {
	position: relative;
	width: fit-content;
}

#appliedFilter {
	position: absolute;
	outline: 1px solid red;
	overflow: hidden;
}

.actionsContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.actionsContainer button {
	padding: 1rem;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 4px 8px;
}

input {
	padding: 4px;
}
